@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner{
    position: absolute;
    pointer-events: none;
}

@keyframes spin-90 {
    to {
      transform: rotate(90deg);
    }
  }
  
.animate-spin-90 {
    animation: spin-90 1s linear;
    animation-fill-mode: forwards;
}